{{- if not .Values.mongodb.auth.existingSecret.name }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mongodb.fullname" . }}-auth
  labels: 
    {{- include "mongodb.labels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  mongodb-admin-username: {{ .Values.mongodb.auth.adminUsername | b64enc | quote }}
  mongodb-admin-password: {{ .Values.mongodb.auth.adminPassword | b64enc | quote }}
{{- end }}